# Hacer

- Separar día/mes de fecha
- Codificar variables categóricas

### Definiciones

- Encoding de etiquetas: Día de la semana, se puede ordenar
- Binary encoding: Resto

## Usar

- Regresión lineal
- Árbol de decisión

https://chatgpt.com/share/671b97fb-7904-8006-853c-7d28072ea3c5

- Algún método no supervisado?

In [1]:
# Se importan librerías
import pandas as pd
import sklearn as skl
import category_encoders as ce

In [11]:
# Carga del dataset
dataset = pd.read_csv("clean_data.csv")

# Se eliminan las filas que contienen "Otros" en la columna "tipo_cobro"
# Se toma esta decisión porque su impacto es mínimo
dataset = dataset[dataset["tipo_cobro"] != "Otros"]

# Se separa el día y el mes del año en columnas separadas
# Necesitamos que las variables sean numéricas
dataset["nro_dia"] = pd.to_datetime(dataset["fecha"]).dt.day
dataset["nro_mes"] = pd.to_datetime(dataset["fecha"]).dt.month
dataset["año"] = pd.to_datetime(dataset["fecha"]).dt.year
dataset.drop("fecha", axis=1, inplace=True)

# Se codifica la categoría día de la semana con label encoding (codificación de etiquetas)
# Se toma esta decisión porque la variable es ordinal
day_encoding = {
    'Lunes': 0,
    'Martes': 1,
    'Miercoles': 2,
    'Jueves': 3,
    'Viernes': 4,
    'Sabado': 5,
    'Domingo': 6
}

dataset['dia_semana'] = dataset['dia'].map(day_encoding)
dataset.drop("dia", axis=1, inplace=True)

# Se codifica el resto de las variables categóricas con binary encoding (codificación binaria)
binary_encoder = ce.BinaryEncoder(cols=["id_peaje", "sentido", "tipo_vehiculo", "tipo_cobro"])
dataset = binary_encoder.fit_transform(dataset)

In [12]:
# Se muestra un fragmento del dataset resultante
dataset.sample(10)

,hora,id_peaje_0,id_peaje_1,id_peaje_2,sentido_0,sentido_1,tipo_vehiculo_0,tipo_vehiculo_1,tipo_cobro_0,tipo_cobro_1,tipo_cobro_2,tipo_cobro_3,pasos,nro_dia,nro_mes,año,dia_semana_encoded
4205233,12.0,0,0,1,1,0,0,1,0,1,0,0,442,20,5,2023,5
1672046,7.0,1,1,1,1,0,0,1,0,0,0,1,1,5,7,2018,3
1506998,19.0,1,1,1,1,0,1,0,0,0,1,0,64,4,4,2018,2
2786189,13.0,1,1,0,1,0,1,0,0,1,0,0,14,14,1,2021,3
3543835,20.0,1,0,0,0,1,0,1,0,0,0,1,650,7,4,2022,3
4032932,4.0,1,0,0,1,0,0,1,0,1,0,1,58,3,2,2023,4
4233420,22.0,0,1,0,1,0,1,0,0,1,0,1,1,9,6,2023,4
3427977,19.0,1,1,1,1,0,0,1,0,1,0,0,38,27,1,2022,3
3895918,17.0,1,0,0,1,0,1,0,0,0,0,1,5,13,11,2022,6
2430146,8.0,0,0,1,0,1,1,0,0,0,1,0,1,28,7,2019,6

In [13]:
# Eliminamos las columnas sentido_1 y tipo_vehiculo_1 porque no aportan información
dataset.drop(["sentido_1", "tipo_vehiculo_1"], axis=1, inplace=True)

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4473491 entries, 0 to 4473490
Data columns (total 15 columns):
 #   Column              Dtype
---  ------              -----
 0   hora                float64
 1   id_peaje_0          int64
 2   id_peaje_1          int64
 3   id_peaje_2          int64
 4   sentido_0           int64
 5   tipo_vehiculo_0     int64
 6   tipo_cobro_0        int64
 7   tipo_cobro_1        int64
 8   tipo_cobro_2        int64
 9   tipo_cobro_3        int64
 10  pasos               int64
 11  nro_dia             int32
 12  nro_mes             int32
 13  año                 int32
 14  dia_semana_encoded  int64
dtypes: float64(1), int32(3), int64(11)
memory usage: 460.8 MB

In [ ]:
# Cambiarle el nombre a las columnas sentido y tipo_vehículo para saber qué significa cada valor